body {
    background: black;
    color: #00ffcc;
    text-align: center;
    font-family: Arial;
}

.card {
    border: 1px solid #00ffcc;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

button {
    background: #00ffcc;
    border: none;
    padding: 10px;
    margin: 5px;
}

#timerBox {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #00ffcc;
    color: black;
    padding: 5px 10px;
    border-radius: 8px;
}
